@use "sass:math";
@use "sass:color";
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.site-header {
  &__inner {
    height: rem(140);
    @include flex-between;
    padding: 0 rem(40);
    position: relative;
  }
  &__nav {
    border-top: 1px solid $color-gray-200;
    border-bottom: 1px solid $color-gray-200;
  }
  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &-link {
      width: rem(300);
      height: rem(60);
      display: block;
      background-image: url(../images/site-logo.png);
      background-size: rem(290);
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
  &__all-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(12) 0;
    &:hover {
      .site-header__all-menu-icon {
        background-image: url(../images/menu-bar-h.png);
      }
      .site-header__all-menu-label {
        color: $color-em;
      }
    }
    &-icon {
      width: rem(40);
      height: rem(18);
      display: block;
      background-image: url(../images/menu-bar.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      transition: background-image 0.3s ease;
    }
    &-label {
      font-family: $font-nanum-square;
      font-weight: 700;
      font-size: rem(15);
      color: $color-primary;
      transition: color 0.3s ease;
    }
  }
  &__util {
    display: flex;
    align-items: center;
    gap: 0 rem(8);
  }
  &__profile {
    position: relative;
    &.is-active {
      .site-header__profile-menu {
        opacity: 1;
        visibility: visible;
      }
    }
    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-menu {
      display: flex;
      flex-direction: column;
      gap: rem(8) 0;
      padding: rem(12);
      border-radius: rem(20);
      background-color: $color-white;
      position: absolute;
      top: calc(100% + rem(12));
      left: 50%;
      transform: translateX(-50%);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }
    &-link {
      width: rem(120);
      height: rem(50);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: rem(10);
      border-radius: rem(10);
      font-family: $font-nanum-square;
      font-size: rem(16);
      line-height: 1;
      &--login,
      &--logout {
        background-color: $color-primary;
        color: $color-white;
        transition: background-color 0.3s ease;
        &:hover {
          background-color: $color-primary-hover;
        }
      }
      &--mypage {
        background-color: #dbe9f6;
        color: $color-primary;
        transition: background-color 0.3s ease;
        &:hover {
          background-color: color.scale(#dbe9f6, $lightness: -10%);
        }
      }
    }
  }
  &__avenue {
    min-width: rem(180);
    height: rem(50);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(10) rem(15);
    border-radius: rem(25);
    border: 1px solid $color-gray-200;
    font-family: $font-nanum-square;
    font-weight: 700;
    font-size: rem(14);
    line-height: 1;
    color: $color-primary;
    transition: border-color 0.3s ease;
    &:hover {
      border-color: $color-em;
    }
    &-logo {
      width: rem(77);
      height: rem(12);
      display: block;
      background-image: url(../images/avenue-logo.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
    &-label {
      margin-left: rem(5);
      margin-right: rem(8);
    }
    &-icon {
      width: rem(10);
      height: rem(10);
      display: block;
      background-image: url(../images/top-right-arr.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
  &__nav {
    padding: 0 rem(40);
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    scrollbar-width: none;
    line-height: 0;
    text-align: center;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__menu {
    min-width: max-content;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0 rem(6);
    &-item {
      flex: 0 0 auto;
      &:not(:last-child) {
        position: relative;
        &::after {
          content: "";
          width: rem(6);
          height: rem(6);
          background-color: $color-primary;
          position: absolute;
          top: 50%;
          right: rem(-6);
          transform: translateY(-50%);
        }
      }
    }
    &-link {
      display: block;
      padding: rem(22) rem(20);
      font-family: $font-nanum-square;
      font-weight: 800;
      font-size: rem(18);
      line-height: 1;
      color: $color-primary;
      transition: color 0.3s ease;
      &:hover {
        color: $color-em;
      }
    }
  }
}
